<header>
    <nav>
        <div class="logo">
            <a href="/">LOGO</a>
        </div>
        <ul class="nav-links">
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>

