<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIBRARY</title>
</head>
<body>
    <br>
    <div class="">Before</div>
    <br>
    <%- body %>
    <br>
    <div class="">After</div>
    <br>
</body>
</html>