.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
}

.book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
}

.book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 1.6rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
    display: flex;
}

.book-details-label {
    font-size: 1.6rem;
    font-weight: var(--font-bold);
    align-self: flex-start;
}

.book-details-grid {
    display: grid;
    align-content: start;
    align-items: center;
    grid-gap: 1.6rem;
    grid-template-columns: auto auto;

    margin-left: 4.8rem;
}

.book-details-btn-grid {
    display: grid;
    justify-items: start;
    align-items: start;
    align-content: start;
    grid-template-areas: 
    'edit delete'
    'author author';
    grid-gap: .8rem;
    margin-top: .8rem;
}

.view-author-button {
    grid-area: author;
    justify-self: stretch;
}

