header nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 4.0rem;  
}
.nav-links li a {
    transition: all .2s cubic-bezier(.5, 0 , .5, 1);
 }
.nav-links li a:hover {
    color: var(--color-link-hover);
}

.logo {
    position: relative;
    top: 2vh;
}
.logo div a {
    max-width: 100%; 
}
