
/* SETUP 
===========================================
*/

:root {

    --color--primary: #0E7462;
        --color--primary-hover: #0a5648;
    --color--secondary: #53C0AD;
        --color--secondary-hover: #3ca492;
    --color--accent: #A3F5E7;
    --color--red: #F35A50;
        --color--red-hover: #f02d20;

    --color-text: #1C2B28;
    --color-text--light: #5F716D;
    --color-link-hover: #66C9B8;

    --color-button-text--light: white;
    --color-button-text--dark: #1C2B28;

    --color-form-input--border: #D1DAD9;
    --color-form-input--border-focus: #53C0AD;
    --color-form-input--bg: #fff;
    --color-form-select-hightlight: #D8EAE6;


    --font-fam: 'Work Sans', sans-serif;
    --font-light: 300;
    --font-reg: 400;
    --font-bold: 600;
    --font-size-heading: 4rem;
    --font-size-title: 2.4rem;
    --font-size-text: 1.6rem;
    
    --font-form-label-font-size: 1.6rem;

    --transition: all .2s cubic-bezier(.5, 0 , .5, 1);
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* { 
    box-sizing: border-box;

    font-family: var(--font-fam);
    font-weight: var(--font-reg);
    font-size: var(--font-size-text);
    color: var(--color-text);

 }


 html {
    box-sizing: border-box;
    font-size: 10px;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

h2 {
  font-size: var(--font-size-heading);
  font-weight: var(--font-bold);
  margin: 0 0 3.2rem 0;
}
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
      text-decoration: none;
  }




/* PROJECT 
===========================================
*/

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
  }

  .inner-container {
    margin: 8rem 2rem;
  }

